---
layout: default
---

<div class="archive">
  <h3>이영재의 블로그</h3>
  <p>
    공부를 하면서 새로 알게된 것들과 복습하는 내용을 정리해서 올리는 블로그입니다.
  </p>
  <hr>
  <h4> Recent Postings </h4>
  {% for post in site.posts limit : 5 %}
  {% assign currDate = post.date | date: "%Y" %}
  {% if currDate != date %}
  {% assign date = currDate %}
  {% endif %}
  <div class="archive-item">
    <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%B %d, %Y" }}</span
    >
    <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
      >{{ post.title }}</a
    >
  </div>
  {% endfor %}
  <hr>
  <p>
    Since 2022
  </p>
</div>
