---
layout: default
---
<h3>문제 정리</h3>
<br>
<img onclick="javascript:location.href='https://codeforces.com';"src="https://codeforces.org/s/75962/images/codeforces-sponsored-by-ton.png"/>
<img onclick="javascript:location.href='https://www.acmicpc.net/';"src="https://d2gd6pc034wcta.cloudfront.net/images/logo@2x.png"/>
<p>
    백준, 코드포스, 프로그래머스 등 알고리즘 문제 오답노트
</p>
<hr>
<div class="archive">
    {% for post in site.posts %} {% assign currDate = post.date | date: "%Y" %}
    {% if post.problem %}
    {% if currDate != date %}
    <h1 class="archive-year">{{ currDate }}</h1>
    {% assign date = currDate %}
    {% endif %}
    <div class="archive-item">
      <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%B %d, %Y" }}</span
      >
        <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
        >{{ post.title }}</a
        >
    </div>
    {% endif %}
    {% endfor %}
</div>
