---
layout: default
---
<h3>후기</h3>
<hr>
<div class="archive">
    {% for post in site.posts %}
    {% if post.record %}
    {% if currDate != date %}
    <h1 class="archive-year">{{ currDate }}</h1>
    {% assign date = currDate %}
    {% endif %}
    <div class="archive-item">
      <span class="post-date archive-date fs-4"
      >{{ post.date | date: "%B %d, %Y" }}</span
      >
        <a href="{{ post.url | relative_url }}" class="archive-title fs-4"
        >{{ post.title }}</a
        >
    </div>
    {% endif %}
    {% endfor %}
</div>
